/* Index :
1. Fonts
2. Paragraphs
3. Background
4. Button
5. Image 
6. Input box
7. Display
*/

/* {1. Fonts: } */
#mainHeading{
  color: OliveDrab;
  text-align: center;
  font-size: 80px;
}

#fontCommon{
  color: white;
  font-size: 48px;
  font-style: normal;
}

#fontHeadingItalic{
  color: white;
  font-size: 60px;
  font-style: italic;
}

#fontHeadingNormal1{
  color: white;
  font-size: 60px;
  font-style: normal;
}

#fontHeadingNormal2{
  color: white;
  font-size: 55px;
  font-style: normal;
}

#fontHeadingNormal3{
  color: white;
  font-size: 50px;
  font-style: normal;
}

#fontQue{
  color: olivedrab;
  font-size: 50px;
  font-style: normal;
}

#fontQueHeading{
  color: olivedrab;
  font-size: 60px;
  font-style: italic;
}


/* {2. Paragraphs: } */
#about{
  color: white;
  font-size: 33px;
}

#GitHubButtonText{
  color: white;
  font-size: 44px;
}

#IndianArmyButtonText{
  color:white;
  font-size: 44px;
}

#IndianAirForceButtonText{
  color: white;
  font-size: 44px;
}

#IndianNavyButtonText{
  color: white;
  font-size: 44px;
}

#ageCalculatorButtonText{
  color: white;
  font-size: 40px;
}

#GitHubQbuttonText{
  color: white;
  font-size: 40px;
}

#LinkedInQbuttonText{
  color: white;
  font-size: 44px;
}

#XQbuttonText{
  color: white;
  font-size: 44px;
}

#lable1{
  size:44px;
  color:white;
}

#heading1{
  color:white;
}

#result{
  color:white;
  font-size: 48px;
  background-color: lightslategray;
}


/* {3. Backgrounds:  } */
#background{
  background-color: black;
}

#BottomBackground{
  background-color: lightslategray;
}


/* {4. Button: } */
button  /* {for all buttons} */
{
  font-weight: 400;
  cursor: pointer;
  border-style: rigid;
  border-radius: 22px;
  font-style: normal;
  font-size: 44px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 8px;
  vertical-align: middle;
  transition: opacity 0.15s,
}
button:hover{
  opacity: 0.8;
}
button:active{
  opacity: 0.6;
}

#buttonToAbout{
  background-color: lightslategrey;
  height: 58px;
  width: 208px;
}

#buttonToGitHub{
  background-color: LightSlateGrey;
  height: 88px;
  width: 707px;
}

#buttonToIndianArmy{
  background-color: OliveDrab;
  height: 88px;
  width: 280px;
}

#buttonToIndianAirForce{
  background-color: LightSkyBlue;
  height: 88px;
  width: 344px;
}

#buttonToIndianNavy{
  background-color: navy;
  height: 88px;
  width: 300px;
}

#buttonToAgeCalculator{
  background-color: lightslategrey;
  height: 88px;
  width: 530px;
}

#QbuttonToGitHub{
  background-color: lightslategray;
  height: 80px;
  width: 344px;
}

#QbuttonToLinkdIn{
  background-color: rgb(0, 104, 224);
  height: 80px;
  width: 388px;
}

#QbuttonToX{
  background-color:black;
  height: 80px;
  width: 355px;
}

#checkEligibilityButton{
  color:white;
  background-color: lightslategray;
  height: 80px;
  width: 344px;
  margin-left: 22px;
}


/* {5. Image: } */
img{
  border-radius: 22px;
}

#logo2{
  height:144px;
  width:150px; 
  margin-left: 90%;
}


/* (6. Input box: } */
#dateInput{
  color: black;
  height: 48px;
  width: 288px;
  font-size: 30px;
}


/* (7. Display: } */
.SocialContainers {
  display:flex;
}
.icon {
  flex-direction: row;
  padding:8px;
}



/* 
Extras : {Please Ignore}

#buttonToGitHub:hover{
  background-color: rgb(255, 65, 65);//or
  opacity:0.8;
}
#buttonToGitHub:active{
  background-color: rgb(0, 199, 0);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15); //for adding shadow
  transition: opacity 0.2s;// adds transition can add as many attributes fot transition like colour rtc

}

/* Three image containers (use 25% for four, and 50% for two, etc)*/
/*
.column {
  float: left;
}
.row::after {
  content:"";
  clear: both;
  display: table;
}
*/